<footer>
  <div class="bg-gray-900 w-full p-6">
    <div class="flex flex-col justify-center text-center text-gray-200">
      <p>Made with <3</p>
      <p>by Tazkia Nizami</p>
    </div>
  </div>
</footer>