<!DOCTYPE html>
<html lang="en">
<head>
    {{#block "head"}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/output.css">
        <script src="/js/main.js" defer></script>
    {{/block}}
</head>
<body>
    <!-- Navbar -->
    {{> navbar}}

    <!-- Konten Utama -->
    <div class="min-h-screen bg-blue-900">
        {{#block "body"}}
            <p>ini isi blok body</p>
        {{/block}}
    </div>

    <!-- Footer -->
    {{> footer}}
</body>
</html>
