{{#extend "main"}}

  {{#content "head" mode="append"}}
    <title>Browse Film | Nelfix</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
    <script src="/js/handleBrowse.js" defer></script>
    <script src="/js/viewDetails.js" defer></script>
    <link rel="stylesheet" href="/css/filmCard.css">
  {{/content}}

  {{#content "body" }}
  <div class="p-4 py-8 min-h-screen flex flex-col items-center">
    <h1 class="text-6xl text-orange-400 font-bold mb-8 drop-shadow-xl">Browse Film</h1>

    <form class="max-w-[500px] w-full mx-auto mb-8">   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18l6-6m0 0l-6-6m6 6H4"></path>
          </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Films" />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>

    <hr class="w-full border-gray-200 my-3">

    <div class="flex flex-col items-center max-w-[1000px]">
      <div id="results-container" class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-8 justify-center">
        {{#each films}}
          {{> filmCard}}
        {{/each}}
      </div>
    </div>

    {{> pagination pagination=pagination}}

  </div>
  {{/content}}  

{{/extend}}
