{{#extend "main"}}

  {{#content "head" mode="append"}}
    <title>Nelfix</title>
  {{/content}}

  {{#content "body" }}
  <div class="p-4 py-8 text-center justify-center min-h-screen items-center flex flex-col">
    <h1 class="text-6xl text-orange-400 font-bold">Nelfix</h1>
    <h3 class="text-2xl text-orange-600 font-bold">Selamat datang di Nelfix</h3>
    <p class="text-lg text-gray-200">Silahkan <a href="/login" class="text-blue-400">login</a> atau <a href="/register" class="text-blue-400">register</a> untuk menikmati layanan kami</p>
  </div>
  {{/content}}

{{/extend}}
