{{#extend "main"}}

  {{#content "head" mode="append"}}
    <title>My List | Nelfix</title>
    <script src="/js/viewDetails.js" defer></script>
    <link rel="stylesheet" href="/css/filmCard.css">
  {{/content}}

  {{#content "body" }}
  <div class="p-4 py-8 min-h-screen flex flex-col items-center">
    <h1 class="text-6xl text-orange-400 font-bold mb-8">My List</h1>

    {{#if films.length}}
      <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-8 max-w[1000px] justify-center">
        {{#each films}}
          {{> filmCard}}
        {{/each}}
      </div>

      {{> pagination pagination=pagination}}
      
    {{else}}
      <p class="text-gray-400">You don't have any films in your list.</p>
    {{/if}}
  </div>
  {{/content}}  

{{/extend}}
