{{#extend "main"}}

  {{#content "head" mode="append"}}
    <title>Self | Nelfix</title>
  {{/content}}

  {{#content "body" }}
  <div class="p-4 py-8 text-center justify-center min-h-screen items-center flex flex-col">
    <h1 class="text-6xl text-orange-400 font-bold">Ini Halaman Self</h1>
    <img src="http://localhost:3000/bucket/cover-images/inception.jpg" alt="haha">
  </div>
  {{/content}}

{{/extend}}
