<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Display</title>
</head>
<body class="bg-gray-100 m-4">

  <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">haha</h2>
    
    <p class="text-gray-600 mb-4">oke</p>

    <div class="mb-6">
      <video controls class="w-full rounded-lg shadow-md">
        <source src="http://localhost:3000/bucket/videos/75b44519-cafa-4d6f-ba6f-35592310171f-coca cola.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

  </div>

</body>
</html>
